body {
    font-family: Montserrat;
    color: #252B42;
    height: 100%;
}

.main_body{
    min-height: 100%;
    overflow: hidden;
}

.header{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 60px 0px 10px;
    color: #252B42;
    max-width: 1000px;
}

@media (max-width: 641px) {
    .header{
        font-size: 26px;
    }
}

.header_link{
    color: inherit;
    text-decoration: none;
}

.header_link:hover{
    text-decoration: underline;
}

.container{
    position: relative;
    box-sizing: content-box;
    flex: 1 1 auto; 
    margin: 0px auto;
    box-sizing: content-box;
    margin-top: 150px;
}

.image{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .image_01{
        width: 115%;
    }
}

@media (max-width: 700px) {
    .image_02{
        width: 110%;
    }
}

.column{
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
    max-width: 1000px;
}


/* ------------------page--------------------------- */
.page{
    margin-bottom: 60px;
}

/* ---------------------header------------------------ */

.column_header{
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 50;
    background-color: #f3f1f1;
    align-items: center;
}

.header_container{
    display: flex;
}

.logo_img{
    width: 150px;
    height: 80px;
    margin-top: 7px;
}

@media (max-width: 730px){
    .logo_img{
        width: 112px;
        height: 60px;
    }
}

.logo_text{
    font-size: 25px;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 1.8px;
    margin: 30px 20px;
}

@media (max-width: 730px) {
    .logo_text{
        font-size: 18px;
    }
}
/* -----------------------------button------------------------------- */

.buttonPost {
    font-family: Montserrat;
    text-decoration: none;
    color: #3e3e3e;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    display: block;
}

.buttonPost:before{
    content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}

.buttonPost:after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}

.buttonPost:hover{
    color: #9c9a9a;
	transition: .3s;
}


.buttonPost:disabled {
	pointer-events: none;
}

.buttonPost:disabled:before {
	filter: grayscale(100%);
}

/* ----------------------------footer-------------------------*/
.posts_footer_body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer{
    position: relative;
    margin: 70px 0px 0px;
    background-color: #f3f1f1;
    width: 100%;
    min-height: 60px; 
}


.column_footer{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
}

.footer_link{
    color: inherit;
    margin: 0px 10px;
    text-decoration: none;
}

.footer_link:hover{
    text-decoration: underline;
}


